body{
    >.container-fluid{
        padding: 0;
    }
    header{
        margin-bottom: 3rem;

        .nav-link{
            color: lightgray !important;
            transition: all ease-in-out 0.3s;
            &:hover{
                color: white;
                font-weight: bolder;
            }
        }
        background-color: black;
    }
    main{
        textarea{
            resize:none;
        }
        a{
            color: #0D6EFD;

            text-decoration: none;
        }
        margin-top:3rem;
        form{
            .error_form{
                display: flex;
                flex-direction: column;
                position: absolute;
                left:0;
                top: 50%;
                transform: translate(-120%,0%);        
                background-color: lightgray;
                border-radius: 1rem;
                span{
                    padding: 0.6rem;
                }
            }
    
            input[type="text"],input[type="number"], select {
                width: 100%;
                transition: all ease-in-out 0.2s;
                &:hover{
                    box-shadow: lightgray 0px 0px 3px 3px;
                }
            }
            input[type='submit'],button[type="submit"]{
                background-color: black;
                color: lightgray;
                border-radius: 0.5rem;
                border:none;
                transition: all ease-in-out 0.2s;
                &:hover{
                    color:black;
                    background-color: lightgray;
                }
            }
        }
        .t-cust{
            .row{
                border-bottom: 1px solid gray;

            }
            .row:nth-child(2n){
                background-color: #f9f9f9;
                a{
                    &:hover{
                        background-color: white;
                    }

                }
            }
            a{
                transition: all ease-in-out 0.2s;
              &:hover{
                  color: darkgreen;
                  padding: 0.5rem;
                  border-radius: 50%;
                  background-color: rgb(242, 242, 242);
              }  
            }
        }
        .utenti_iscritti{
            a{
                color:#0D6EFD ;
                transition: all ease-in-out 0.2s;
                &:hover{
                    font-weight: bolder;
                    // color: darkgreen;
                }
            }
        }
        .show{
            display: block;
            opacity: 1;
            background-color: rgba(0,0,0,0.6);
        }
    }
    footer{
        color: lightgray !important;
        background-color: black;

    }
}